body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f4f6f9;
}

.topbar {
  padding: 15px 30px;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
  gap: 10px;
  padding: 10px;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  color: white;
  border: none;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.full {
  grid-column: span 2;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background: #eee;
}
